section{
    display: flex;
    justify-content: center;
}

.torso{
    display:flex;
}
/* The letter divs are created here */
.guesses{
    display: flex;
    height: 5vh;
    
}
.alphabet{
    margin: 2px;
    background-color: red;
    height: 20px;
    width: 20px;
    text-align: center;
}
.alphabetGuess{
    margin: 2px;
    background-color: red;
    height: 20px;
    width: 20px;
    text-align: center;
}
.legs{
    display: flex;
}
article{
    display: flex;
    justify-content: center;
}
.letterDiv{
    padding: 10px;
}
#newGame{
    display:none;
}
input{
    display: none;
}
#enter{
    display: none;
}