section{
    display: flex;
    justify-content: center;
}

.torso{
    display:flex;
}

.guesses{
    display: flex;

}
.legs{
    display: flex;
}
article{
    display: flex;
    justify-content: center;
}
.letterDiv{
    padding: 10px;
}