section{
    display: flex;
    justify-content: center;
}

.torso{
    display:flex;
}

.guesses{
    display: flex;
    height: 5vh;

}
.legs{
    display: flex;
}
article{
    display: flex;
    justify-content: center;
}
.letterDiv{
    padding: 10px;
}
.alphabet{
    margin: 2px;
}
#newGame{
    display:none;
}
input{
    display: none;
}